@media (min-width: 1200px) { 
  /* Globals */
  body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
  }
  .btn {
    font-family: 'Roboto Slab', serif;
    letter-spacing: -1px;
    font-weight: 800;
  }

  /* Navbar */
  .logo {
    width: 130px;
  }

  .login-menu {
    padding: 20px;
    width: 330px;
    margin-left: -250px;
    background: rgba(0, 0, 0, 0.7);
  }

  .login-error {
    color: #ff0000;
  }

  .login-label {
    color: #FFF;
  }

  .login-button {
    margin-bottom: 10px !important;
  }

  .nav-link {
    background: none;
    border: none;
  }

  /* Home */
  .home-container {
    padding-bottom: 50px;
  }
  .carousel-item {
    max-height: 430px; 
    width: 100%; 
    overflow: hidden;
  }

  .carousel-caption {
    bottom: 0%;
    font-family: 'Roboto Slab', serif;
    background: rgba(0, 0, 0, 0.12);
    width: 100%;
    right: 0%;
    left: 0%;
    height: 100%;
  }

  .caption-text {
    margin-top: calc(100% / 10 );
    height: 85px;
  }

  .home-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
  }

  .img-slides {
    margin-top: -270px;
  }

  .home-subheading {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: -2px;
  }

  .home-content {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
  }

  /* RecipesIndex */
  .recipes-container {
    padding-bottom: 50px;
  }
  .recipe-index-title {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -2px;
  }
  .recipe-index-description {
    font-size: 15px;
  }
  .recipes-img {
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  .recipes-img-container {
    height: 500px;
    width: 400px;
    margin: 0 auto;
  }

  /* RecipeDetails */
  .recipe-details-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -3px;
  }
  .recipe-details-img-container {
    height: 60%;
    width: 60%;
    padding: 20px;
  }
  .recipe-details-img {
    height: 100%;
    width: 100%;
  }
  .recipe-details-ingredients-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .recipe-details-ingredients {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -3px;
  }
  .recipe-details-times-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
  .recipe-details-times{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: -1px;
  }

  /* Pantry */
  .pantry-background {
    width: 100%;
  }
  .pantry-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
  }

  /* Nutritional Facts */
  .nutrition-label-container {
    border: 1px solid black;
    padding: 20px;
  }
  .nf-header {
    font-size: 30px;
  }
  .nf-amount {
    font-size: 15px;
  }
  .nf-servings {
    border-bottom: 8px solid black;
    padding-bottom: 5px;
    font-weight: 400;
    line-height: 1;
  }
  .nf-calories {
    font-size: 25px;
    line-height: 0;
  }
  .nf-border-1 {
    border-bottom: 1px solid black;
  }
  .nf-border-2 {
    border-bottom: 5px solid black;
  }
  .nf-border-3 {
    border-bottom: 8px solid black;
    padding-bottom: 5px;
  }
  .nf-right {
    text-align: right;
  }
  .nf-padding {
    padding-left: 15px;
  }
}


/* iPad Landscape */
@media (max-width: 1024px) {
  /* Navbar */
  .logo {
    width: 120px;
  }

  .search-box {
    width: 120px !important;
  }

  .login-menu {
    padding: 20px;
    width: 330px;
    margin-left: -250px;
    background: rgba(0, 0, 0, 0.7);
  }

  .login-label {
    color: #FFF;
  }

  .login-button {
    margin-bottom: 10px !important;
  }

  .sign-up {
    text-align: center;
    color: white;
    font-weight: 600;
  }
  
  .sign-up:hover {
    text-align: center;
    color: #000;
    background: #fff;
  }

  /* Home */
  .carousel-item {
    max-height: 310px; 
  }

  .img-slides {
    margin-top: -165px;
  }

  .carousel-caption {
    bottom: 0%;
    font-family: 'Roboto Slab', serif;
    background: rgba(0, 0, 0, 0.12);
    width: 100%;
    right: 0%;
    left: 0%;
    height: 100%;
  }
  
  .caption-text {
    margin-top: calc(100% / 15 );
    height: 85px;
  }
}

/* iPhone X Landscape */
@media (max-width: 812px) {
  /*  Navbar */
  .login-menu {
    width: 80%;
    margin-left: 0;
    margin-bottom: 15px;
    background: #343A40;
    color: white;
    border: 1px solid white;
  }

  .search-box {
    width: 524px !important;
  }

  /* Home */
  .carousel-item {
    max-height: 360px; 
    width: 100%; 
    overflow: hidden;
  }

  .img-slides {
    margin-top: -109px;
  }

  .carousel-caption {
    bottom: 0%;
    font-family: 'Roboto Slab', serif;
    background: rgba(0, 0, 0, 0.12);
    width: 100%;
    right: 0%;
    left: 0%;
    height: 100%;
  }
  
  .caption-text {
    margin-top: calc(100% / 8 );
    height: 85px;
    font-size: 30px;
  }
}

/* iPad */
@media (max-width: 768px) {
  /* Navbar */
  .login-menu {
    width: 80%;
    margin-left: 0;
    margin-bottom: 15px;
    background: #343A40;
    color: white;
    border: 1px solid white;
  }
  .search-box {
    width: 490px !important;
  }

  /* Home */
  .img-slides {
    margin-top: -57px;
  }

  .carousel-caption {
    bottom: 0%;
    font-family: 'Roboto Slab', serif;
    background: rgba(0, 0, 0, 0.12);
    width: 100%;
    right: 0%;
    left: 0%;
    height: 100%;
  }
  
  .caption-text {
    margin-top: calc(100% / 8 );
    height: 85px;
    font-size: 35px;
  }
}

/* iPhone X */
@media (max-width: 375px) {
  /* Navbar */
  .login-menu {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
    background: #343A40;
    color: white;
    border: 1px solid white;
  }

  .search-box {
    width: 329px !important;
  }

  .search-button {
    margin-top: 13px !important;
  }

  /* Home */
  .carousel-item {
    max-height: 213px; 
    width: 100%; 
    overflow: hidden;
  }

  .img-slides {
    margin-top: 0;
  }
  
  .d-none{
    display: inline !important;
  }
  
  .caption-text {
    margin-top: calc(100% / 8 );
    height: 75px;
    font-size: 25px;
  }
}